body {
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.05rem;

  * {
    box-sizing: border-box;
  }

  > header {
    padding: 0.5rem 1.5rem;

    ul {
      margin: 0;
      padding: 0;
    }

    button {
      font-size: 0.9rem;
    }

    button {
      gap: 0.25rem;
    }

    #main-dropdown {
      top: 3rem;
      right: 1rem;

      button {
        width: 100%;
      }
    }

    a > strong {
      font-size: 1.25rem;
      letter-spacing: 0.05em;
    }

    #main-nav {
      width: 100%;

      button[aria-controls]::after {
        width: 4px;
        height: 4px;
        border-right: 1.5px solid currentColor;
        border-bottom: 1.5px solid currentColor;
        margin-left: 0.25rem;
      }
    }

    ul[id$="dropdown"] {
      border-radius: 0.5rem;
      min-width: 15rem;
      padding: 0.5rem;
    }

    #spaces-dropdown {
      top: 0;
      right: calc(100% + 0.5rem);
    }

    #main-dropdown strong,
    #spaces-dropdown strong {
      font-size: 0.75rem;
      letter-spacing: 0.05em;
      padding: 0.5rem 1.25rem 0.25rem;
    }

    #main-dropdown {
      a,
      button {
        padding: 0.5rem 0.75rem;
        border-radius: 0.375rem;
        letter-spacing: 0.05rem;
      }
    }

    #sign-out,
    #sign-up,
    #account-list,
    #spaces-list {
      border-radius: 0;
      margin-top: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  > main {
    padding: 2rem;

    > section,
    > article {
      width: 100%;
      max-width: 50rem;
    }
  }

  #skip {
    top: -40px;
    left: 0;
    padding: 8px;
  }

  #skip:focus {
    top: 0;
  }

  form > button,
  menu > li > button,
  footer > button {
    padding: 0.5rem;
  }

  form {
    padding: 1.5rem;
    width: 100%;
    max-width: 25rem;
  }

  fieldset {
    padding: 0;
    margin: 0 0 1.5rem 0;
  }

  ul[role="tablist"] {
    padding: 0;
    margin-bottom: 2rem;
  }

  button[role="tab"] {
    border: none;
    padding: 0.75rem 1.5rem;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
  }

  .visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    padding: 0;
    width: 1px;
  }
}
