:root {
  --white: rgb(255 255 255);
  --lighter: rgb(255 240 225);
  --light: rgb(240 225 210);
  --dark: rgb(30 45 60);
  --darker: rgb(15 30 45);
  --black: rgb(0 0 0);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--darker);
    --input: var(--white);
    --input-background: var(--black);
    --background: var(--lighter);
    --hover: var(--dark);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--lighter);
    --input: var(--white);
    --input-background: var(--darker);
    --background: var(--darker);
    --hover: var(--light);
  }
}

body {
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  overflow: scroll;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

input:not([type="submit"]) {
  display: block;
  background-color: var(--input);
  border-color: var(--input-background);
  border-style:solid
}

button, input[type="submit"] {
  border: none;
  cursor: pointer;
  color: var(--background);
  background-color: var(--text);
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  padding: 1em;

  &:hover {
    background-color: var(--hover);
  }
}

main {
  padding-left: 0.83em;
  padding-right: 0.83em;
}

nav {
  background-color: var(--text);
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: var(--background);
  padding: 0.83em 0.83em;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--hover);
}

nav > svg {
  cursor: pointer;

  > rect {
    fill: var(--text);
  }

  > path {
    stroke: var(--background);
    stroke-width: 5;
    stroke-linecap: round;
  }

  &:hover {
    > rect {
      fill: var(--hover);
    }
  }
}

a {
  cursor: pointer;
}

label {
  display: block;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  nav {
    position: relative;
  }

  nav svg {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  nav a {
    float: none;
  }
}