:root {
  --white: #fffaf0;
  --grey: #567;
  --black: #123;
  --red: #721;
  --yellow: #883;
}

body {
  background-color: var(--white);
  margin: 0;
  overflow: scroll;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding-left: 0.83em;
  padding-right: 0.83em;
}

nav {
  background-color: var(--black);;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: var(--white);
  padding: 0.83em 0.83em;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--grey);
}

nav > svg {
  cursor: pointer;

  > rect {
    fill: var(--black);
  }

  > path {
    stroke: var(--white);
    stroke-width: 5;
    stroke-linecap: round;
  }

  &:hover {
    > rect {
      fill: var(--grey);
    }
  }
}

a {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    position: relative;
  }

  nav svg {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  nav a {
    float: none;
  }
}