:root {
  --lightest: rgb(255 255 255);
  --lighter: rgb(255 240 225);
  --light: rgb(240 225 210);
  --lightish: rgb(195 180 165);
  --red: rgb(210 0 60);
  --darkish: rgb(60 75 90);
  --dark: rgb(30 45 60);
  --darker: rgb(15 30 45);
  --darkest: rgb(0 0 0);
  --amber-light: rgb(240, 210, 120);
  --amber-dark: rgb(180, 150, 30);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--darker);
    --input: var(--lightest);
    --input-background: var(--darkest);
    --background: var(--lighter);
    --hover: var(--dark);
    --shadow: var(--red);
    --button: var(--darker);
    --button-disabled: var(--darkish);
    --button-text: var(--lightest);
    --scrollbar: var(--darker);
    --scrollbar-background: var(--light);
    --link: var(--amber-dark);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--lighter);
    --input: var(--lightest);
    --input-background: var(--darker);
    --background: var(--darker);
    --hover: var(--light);
    --shadow: var(--red);
    --button: var(--lighter);
    --button-text: var(--darker);
    --button-disabled: var(--lightish);
    --scrollbar: var(--lighter);
    --scrollbar-background: var(--dark);
    --link: var(--amber-light);
  }
}

body {
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  overflow: scroll;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: var(--input);
  border-color: var(--input-background);
  border-style:solid
}

form {
  hr {
    border: none;
  }
}

button, input[type="file"] {
  border: none;
  cursor: pointer;
  color: var(--button-text);
  background-color: var(--button);
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0 0.15rem var(--shadow);
  padding: 0.5rem;
  font-weight: bold;

  &:hover {
    background-color: var(--hover);
  }

  &[aria-disabled="true"] {
    cursor: default;
    background-color: var(--button-disabled);
  }
}

form {
  span {
    display: inline-block;
    vertical-align: top;

    small {
      display: block;
    }
  }
}

main {
  display: grid;
  place-items: center;

  > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;
    padding: 2rem;

    > header {
      > figure {
        margin: 0;

        > img {
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  a {
    color: var(--link);
    text-decoration: none;
    font-weight: bolder;
  }

  > section {
    > ol {
      display: flex;

      overflow-x: auto;
      list-style: none;

      > li {
        flex: 0 0 18rem;

        > article {
          width: 18rem;
          height: 100%;

          display: flex;
          flex-direction: column;

          > p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          > footer {
            margin-top: auto;
          }
        }
      }

      &::-webkit-scrollbar {
        height: 1rem;
      }

      &::-webkit-scrollbar-track {
        background: var(--scrollbar-background);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar);
      }
    }
  }
}

nav {
  background-color: var(--text);
  overflow: hidden;
  box-shadow: 0 0.15rem var(--shadow);
}

nav a {
  float: left;
  display: block;
  color: var(--button-text);
  padding: 0.83rem 0.83rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: var(--hover);
}

nav > svg {
  cursor: pointer;

  > rect {
    fill: var(--text);
  }

  > path {
    stroke: var(--background);
    stroke-width: 5;
    stroke-linecap: round;
  }

  &:hover {
    > rect {
      fill: var(--hover);
    }
  }
}

a {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    position: relative;
  }

  nav svg {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  nav a {
    float: none;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
